/* https://colorhunt.co/palette/222831393e4600adb5eeeeee */

body {
    background: #222831;
}

h1 {
    color: #EEEEEE;
    font-family: Roboto;
}

h2 {
    color: #EEEEEE;
    font-family: Roboto;
}

h5 {
    color: #EEEEEE;
    font-family: Roboto;
    width: fit-content;
}

p {
    color: #EEEEEE;
    font-family: Roboto;
}

input {
    background-color: #EEEEEE;
    margin-bottom: 15px;
    font-family: Roboto;
}

button {
    background-color: #EEEEEE;
    font-family: Roboto;
}

.app {
    margin: auto;
    text-align: center;
}

.app #options {
    display: flex;
}

.app #box {
    margin-inline: auto;
    width: fit-content;
}

.room {

}

.room .info {

}

.room .form {
    margin: auto;
    width: fit-content;
}

.room .form form{
    margin: auto;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.room .form button {
    padding-block: 8px;
    border-radius: 5px;
}

.room .form textarea {
    width: 50vw;
    overflow: hidden;
    resize: vertical;
}

.room .chat {
    display: flex;
    flex-direction: column;
}

.chat #other {
    margin: auto;
    text-align: center;
    background-color: #c0f0ff;
    color: #222831;
    padding-inline: 50px;
    padding-block: 4px;
    border-radius: 5px;
    font-size: 14px;
}

.message_other{
    align-self: flex-start;
    width: fit-content;
    min-width: 20%;
    max-width: 50%;
}

.message_own{
    align-self: flex-end;
    width: fit-content;
    min-width: 20%;
    max-width: 50%;
}

.message_other #sender {
    margin-bottom: 0px;
    margin-left: 10px;
}

.message_own #sender {
    margin-bottom: 0px;
    margin-left: 10px;
}

.message_other #bubble {
    background-color: #EEEEEE;
    padding-inline: 10px;
    padding-top: 5px;
    overflow: visible;
    overflow-wrap: break-word;
    border-radius: 15px;
}

.message_own #bubble {
    background-color: #00ADB5;
    padding-inline: 10px;
    padding-top: 5px;
    overflow: visible;
    overflow-wrap: break-word;
    border-radius: 15px;
}
.message_other #bubble p {
    color: #222831;
}

#text {
    margin-top: 0px;
    text-align: left;
    white-space: pre-line;
}

#timestamp {
    font-size: 15px;
    text-align: right;
}